{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Treadmills4You</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="{% static 'affiliate/css/modern-business.css'%}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Treadmills4You</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div
            class="carousel-item active"
            style="
              background-image: url('{% static 'affiliate/images/treadmill1.jpg'%}');
            "
          >
            <div
              class="carousel-caption d-none d-md-block"
              style="font-size: 200%;"
            >
              <h3" style="-webkit-text-stroke: 1px black;" >Treadmills4You</h3>
              <p>Now is the best time to buy a new Treadmill online!</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="
              background-image: url('{% static 'affiliate/images/runners.jpg'%}');
            "
          >
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div
            class="carousel-item"
            style="
              background-image: url('{% static 'affiliate/images/treadmill2.jpg'%}');
            "
          >
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      


      <!-- Portfolio Section -->
      <h2 class="my-4">Treadmills</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/3dbHC2k" target="_blank"
            ><img
            style="padding: 10px; height: 200px; width: 200px;"
            class="card-img-top imgSize"
            src="{% static 'affiliate/images/Nordic2.jpg'%}"
            alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/3dbHC2k" target="_blank">NordicTrack T 6.5 Si Treadmill</a>
              </h4>
              <p class="card-text">
                1 year iFit membership included with your treadmill; gain access to on-demand trainer-led global and studio workout programs ($396 value)<br>
                Immersive 10 inch interactive HD touchscreen streams on-demand iFit workouts directly to your equipment and provides easy stats tracking.
              </p>
              <a href="https://amzn.to/3dbHC2k" class="btn btn-secondary">$1398.99 CDN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/33Hrfrm" target="_blank"
            ><img
                class="card-img-top"
                src="{% static 'affiliate/images/Nordic1.jpg'%}"
                style="padding: 10px; height: 200px; width: 200px;"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/33Hrfrm" target="_blank">NordicTrack T 6.5 S Treadmill</a>
              </h4>
              <p class="card-text">
                Bring home interactive personal training powered by iFit; 1 month individual membership included; experience live, studio, and global workouts in the comfort of home; trainers lead your exercise.<br>
                10% one touch incline control; 10 MPH smart one touch speed control.
              </p>
              <a href="https://amzn.to/33Hrfrm" class="btn btn-secondary">$967.67 CDN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/33EeaPn" target="_blank"
              ><img
                class="card-img-top"
                src="{% static 'affiliate/images/SunnyHealth1.jpg'%}"
                style="padding: 10px; height: 200px; width: 200px;"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/33EeaPn" target="_blank">Sunny Health Asuna Slim Folding Treadmill</a>
              </h4>
              <p class="card-text">
                View your time, distance, speed, and calories burned all at the same time. Use the integrated pedometer to track your steps during each exercise session. <br>
Treadmill can be easily and securely folded flat. Take advantage of the low-profile design, which makes it easy to slide the machine under surfaces and move it from room to room.
              </p>
              <a href="https://amzn.to/33EeaPn" class="btn btn-secondary">$948.99 CDN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/3lrw9Pb" target="_blank"
              ><img
                class="card-img-top"
                src="{% static 'affiliate/images/SunnyHealth2.jpg'%}"
                style="padding: 10px; height: 200px; width: 200px;"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/3lrw9Pb" target="_blank">Sunny Health Folding Treadmill</a>
              </h4>
              <p class="card-text">
                2.20 Peak HP drive system with 40 x 124 cm running surface. 16 KM/H max speed, max degree of incline 5.<br>
                Handrail controls that allow you to control speed, start and stop.<br>
9 Built-in workout programs; large LCD display and smart phone/tablet holder<br>
Choose between 3 options of incline levels.
              </p>
              <a href="https://amzn.to/3lrw9Pb" class="btn btn-secondary">$768.97 CDN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/34vDV3u" target="_blank"
              ><img
                style="padding: 10px; height: 200px; width: 200px;"
                class="card-img-top"
                src="{% static 'affiliate/images/SereneLife1.jpg'%}"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/34vDV3u" target="_blank">SereneLife Smart Electric Folding Treadmill</a>
              </h4>
              <p class="card-text">
                SPORTS APP CONNECTION: Links to FitShow sports app to make boring 
                exercise routines to exciting fitness sessions. The app is available for iOS & Android & works 
                with various devices such as phones, laptops & tablets via Bluetooth connectivity.              </p>
              <a href="https://amzn.to/34vDV3u" class="btn btn-secondary">$619.99 CDN</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a class="mx-auto" href="https://amzn.to/3iDpX4F" target="_blank"
              ><img
                style="padding: 10px; height: 200px; width: 200px;"
                class="card-img-top "
                src="{% static 'affiliate/images/SereneLife2.jpg'%}"
                alt=""
            /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://amzn.to/3iDpX4F" target="_blank">SereneLife Foldable Digital Treadmill</a>
              </h4>
              <p class="card-text">
                SPORTS APP CONNECTION: Links to FitShow sports app to make boring exercise routines to exciting fitness sessions. The app is available for iOS & Android & works with various devices such as phones, laptops & tablets via BT connectivity.
              </p>
              <a href="https://amzn.to/3iDpX4F" class="btn btn-secondary">$749.99 CDN</a>
            </div>
          </div>
        </div>
      </div>
      <hr><br>
      <!-- /.row -->
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=15&p=12&l=ur1&category=amazonhomepage&f=ifr&linkID=aa370ef12d3f6e80ec22aa131b4f2ffc&t=04250919-20&tracking_id=04250919-20" width="400" height="300" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        </div>
        <div class="col-lg-6">
          <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="04250919-20"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="CA"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="running";amzn_assoc_theme ="dark"; amzn_assoc_bg_color ="000000"; </script><script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=CA"></script>
        </div>
      </div>
      <!-- /.row -->
      <br>
      <hr />
      <br>
      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p style="font-size: 150%;">
            Find even more great deals on treadmills at Amazon!
          </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" target="_blank" href="https://www.amazon.ca/gp/search?ie=UTF8&tag=04250919-20&linkCode=ur2&linkId=31f248f130eec4e6f1133442646e78bd&camp=15121&creative=330641&index=aps&keywords=treadmill">Shop for treadmills on Amazon!</a><img src="//ir-ca.amazon-adsystem.com/e/ir?t=04250919-20&l=ur2&o=15" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; 2020
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'affiliate/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  </body>
</html>
